<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <a href="/">Accueil</a>
    <a href="/formations">Formations</a>
    <a href="/experiences">Expériences</a>
    <a href="/projects">Projets</a>
    <a href="/competences">Compétences</a>
    <a href="/contact">Contact</a>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© Rémy Crespel - remy.cspl@gmail.com</p>
</footer>

</body>
</html>