{% extends "base.html" %}

{% block title %}Compétences{% endblock %}

{% block content %}

<h1>Mes compétences</h1>

{% for competence in competences %}
    <div class="competence">
        <h3>{{ competence.categorie }}</h3>

        <div>
            {% for type, details in competence.detail.items() %}
                <div class="skill-group">
                    <span class="skill-label">{{ type }}</span>
                    <div class="skill-tags">
                        {% for detail in details %}
                            <span class="skill-tag">{{ detail }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}
