{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<h1>Contact</h1>

<form method="POST" action="{{ url_for('contact') }}">

    <input type="text" name="name" class="form-control" placeholder="Nom" required>

    <input type="email" name="email" class="form-control" placeholder="Email" required>

    <textarea name="message" class="form-control" placeholder="Votre message" required></textarea>

    <button type="submit" class="btn-console">
        Envoyer
    </button>

</form>

{% endblock %}
