{% extends "base.html" %}

{% block title %}Expériences{% endblock %}

{% block content %}

<h1>Mes expériences</h1>

{% for experience in experiences %}
    <div class="experience">
        <h3>{{ experience.poste }} — {{ experience.date }} ({{ experience.duree }})</h3>

        <p>{{ experience.entreprise.nom }}, {{ experience.entreprise.lieu }}</p>

        <div>
            {% for description in experience.description %}
                <p>— {{ description }}</p>
            {% endfor %}
        </div>

        <div>
            <p>Technologies :</p>
            {% for technologie in experience.technologies %}
                <p>— {{ technologie }}</p>
            {% endfor %}
        </div>

        <div>
            <p>Compétences :</p>
            {% for competence in experience.competences %}
                <p>— {{ competence }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}
